body {
  height: 100vh;
}

#root {
  height: 100%;
}

.App {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 100%;
  margin-top: 7rem;
}

.movieListItem {
  display: flex;
  flex-direction: column;
}
.detailLinks {
  display: flex !important;
  justify-content: space-between !important;
}
.detailLinks a {
  margin-right: 1rem;
}
.listItemWiki {
  display: flex;
  flex-direction: column;
}

.centerCell {
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchFieldForm {
  margin-bottom: 1rem;
}

.searchField input {
  width: 30vw;
  text-align: center;
}
